[submodule "lib/hammer.js"]
	path = lib/hammer.js
	url = https://github.com/hammerjs/hammer.js.git
	branch = master
[submodule "lib/lunr.js"]
	path = lib/lunr.js
	url = https://github.com/olivernn/lunr.js.git
	branch = master
[submodule "lib/node-uuid"]
	path = lib/node-uuid
	url = https://github.com/broofa/node-uuid.git
	branch = master
[submodule "lib/zen-observable"]
	path = lib/zen-observable
	url = https://github.com/zenparsing/zen-observable.git
	branch = master
